<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ScheduleBusTest" parallel="tests" thread-count="5">
   <test name="FirefoxTest">
   <parameter name="browser" value="firefox" />
      <classes>
            <class name="testgrid.TestGridClass" />
      </classes>
   </test>
</suite>